@charset "utf-8";
@font-face{
	font-family: 'Gill Sans MT Ultra Bold';
	src: url("../font/Gill Sans MT Ultra Bold.ttf")
/*	font-family: 'gill sans mt ultra bold'*/
}
@font-face{
	font-family: 'Century Gothic';
	src: url("../font/Century Gothic.ttf")
/*	font-family: 'Century Gothic Reg';*/
}
/*8d98e8*/
/*r:141, b:152, g:232, 0.75*/
/*ffffff*/
/*rbg: 255*/
/*000000*/
/*rbg: 0*/

body{font-family: 'Century Gothic';margin: 0;color: #1F1F1F}
.bg-bp-pink{background: url("../images/EjHAsZaX0AcHhR2.jpg")}
p{font-size: 11px}
.bg-primary{background-color: #8d98e8}
.bg-black{background: #1F1F1F}
.bg-white{background: white}
.btn-primary{background: #1F1F1F;padding: 10px 15px;border: 2px solid #1F1F1F;color: white;cursor: pointer;font-size: 12px}
.btn-primary:hover{background: #8d98e8;border: 2px solid #8d98e8;color: white;transition: all 0.5s}

/*HEADER*/
header{height: 70px;line-height: 70px;background-color: #8d98e8;position: fixed;width: 100%;color: black;z-index: 10}
.logo{font-size: 22px;text-transform: uppercase;}
.menu ul{margin: 0;padding: 0;list-style: none}
.menu ul li a{padding: 0 25px;display: block;font-size: 12px}
.menu ul li a:hover{color:#ffffff;}
/*END-HEADER*/

/*SECTION-HOME*/
#home{height: 450px;background-color: #8d98e8;}
.imma-rapper{font-size: 22px;}
.introduction{padding-left: 70px;padding-top: 100px}
/*END-SECTION-HOME*/

/*SECTION-SERVICE*/
#service{height: 530px;margin-top: -10px;background: #1F1F1F}
#service h1{color: white;text-align: center;padding: 60px 0 40px;font-size: 22px}
#service h2{color: white;font-size: 20px}
#service p{color: white}
#service a{color: white;font-size: 10px}
/*END-SECTION-SERVICE*/

/*SECTION-INFO*/
#info-education{height: 480px;}
.jennie-kim{color: #8d98e8;font-size: 12px;}
#info-education h1{color: #1F1F1F;text-align: left;padding: 60px 0 40px;font-size: 22px}
#info-education .col-4{line-height: 180%}
.skill{margin-top: 110px;padding: 50px; display: flex;}
.skill .col-3{margin-top:-11px}
.skill .col-3 div{margin-bottom: 32.5px}
.education{margin-top: 140px}
.education h2{font-size: 12px;color: #8d98e8;}
.education p{line-height: 180%}
/*END-SECTION-INFO*/

/*SECTION-EXPERIENCE*/
#experience{height: 351.5px;}
.ron{border-right:15px solid white;}
.exp-time-line{padding: 10px;color: white}
.brand-name{font-size: 13px}
#experience h1{color: #1F1F1F;text-align: left;padding: 0px 0 40px;font-size: 22px}
/*END-SECTION-EXPERIENCE*/

/*SECTION-LIBRARY*/
#library{height: 510px;}
#library img{width: 280px}
/*END-SECTION-LIBRARY*/

/*SECTION-CONTACT*/
#contact{height: 200px;background: #1F1F1F}
#contact h1{color: white;text-align: center;padding: 55px 0 20px;font-size: 22px}
#contact input{padding: 12px;width: 265px;font-size: 12px;}
/*END-SECTION-CONTACT*/

/*ANIMATION*/
.scale-up-tl{
	-webkit-animation: scale-up-tl 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-tl 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-4-9 0:55:41
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-tl
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-tl {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
}
@keyframes scale-up-tl {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
}
.slide-in-bottom{-webkit-animation:slide-in-bottom 1s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-bottom 1s cubic-bezier(.25,.46,.45,.94) both}
/* ----------------------------------------------
 * Generated by Animista on 2022-5-13 21:37:15
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes slide-in-bottom{0%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes slide-in-bottom{0%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}
.slide-in-right{-webkit-animation:slide-in-right 1s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-right 1s cubic-bezier(.25,.46,.45,.94) both}
/* ----------------------------------------------
 * Generated by Animista on 2022-5-13 21:39:33
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes slide-in-right{0%{-webkit-transform:translateX(1000px);transform:translateX(1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@keyframes slide-in-right{0%{-webkit-transform:translateX(1000px);transform:translateX(1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}
.swing-in-top-fwd{-webkit-animation:swing-in-top-fwd 2s cubic-bezier(.175,.885,.32,1.275) both;animation:swing-in-top-fwd 2s cubic-bezier(.175,.885,.32,1.275) both}
/* ----------------------------------------------
 * Generated by Animista on 2022-5-13 21:44:11
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes swing-in-top-fwd{0%{-webkit-transform:rotateX(-100deg);transform:rotateX(-100deg);-webkit-transform-origin:top;transform-origin:top;opacity:0}100%{-webkit-transform:rotateX(0deg);transform:rotateX(0deg);-webkit-transform-origin:top;transform-origin:top;opacity:1}}@keyframes swing-in-top-fwd{0%{-webkit-transform:rotateX(-100deg);transform:rotateX(-100deg);-webkit-transform-origin:top;transform-origin:top;opacity:0}100%{-webkit-transform:rotateX(0deg);transform:rotateX(0deg);-webkit-transform-origin:top;transform-origin:top;opacity:1}}
.flip-in-ver-right{-webkit-animation:flip-in-ver-right .5s cubic-bezier(.25,.46,.45,.94) both;animation:flip-in-ver-right .5s cubic-bezier(.25,.46,.45,.94) both}
/* ----------------------------------------------
 * Generated by Animista on 2022-5-13 21:51:34
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes flip-in-ver-right{0%{-webkit-transform:rotateY(-80deg);transform:rotateY(-80deg);opacity:0}100%{-webkit-transform:rotateY(0);transform:rotateY(0);opacity:1}}@keyframes flip-in-ver-right{0%{-webkit-transform:rotateY(-80deg);transform:rotateY(-80deg);opacity:0}100%{-webkit-transform:rotateY(0);transform:rotateY(0);opacity:1}}